.movie {
  background-color: #1f1f1f;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
}

.movie img {
  max-width: 600px;
  width: 100%;
}

.movie p svg {
  color: goldenrod;
  margin-right: 5px;
}


.movie a {
  width: 100%;
}

.span {
  font-weight: bold;
  color: #cc2727;
}

.movies #seiLa {
  font-size: 1.2em;
  background-color: #0f0f0f;
  width: 100%;
  padding: 5px 10px;
  margin: 20px auto;
}

.movies #seiLa h2 {
  margin: 40px 10px;
  color: #fff;
}

.movies #seiLa p {
  line-height: 160%;
  margin: 0 30px 20px 30px;
}

#movieList {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 50px;
  /* border: 1px solid red; */
}

@media (max-width: 1020px) {
  #movieList {
    margin: 0px;
  }
}

#movieList li {
  /* border: 1px solid red; */
  margin: 10px 0px;

}